on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.14"
    - name: Install the project
      run: uv sync --dev
    - name: Format check
      run: uv run ruff format --check
    - name: Lint
      run: uv run ruff check
    - name: Run tests
      run: uv run pytest -sv --cov .